{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="mb-5 mx-5 py-2 flex-center-col align-c">
    <h1 class="text-big mb-4">Halo, apa kabar?</h1>
    <div class="flex-left mb-4">
        <div class="circle {% if status_obj > 0 %}green{% else %}red{% endif %} mr-2"></div>
        <p style="margin: 0;">{% if status_obj > 0 %} {{latest.status}} {% else %}No status yet.{% endif %}</p>
    </div>
    <div class="form-container">
        <form method="POST" action="{% url 'status' %}">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-border ml-3" type="submit" name="submit">Kirim</button>
        </form>
    </div>
</div>
<br><br>
<div class="feeds-scroll my-5 flex-center-col">
    <p class="disable-margin">Feeds</p>
    <img src="{% static 'down.svg' %}" alt="" class="img16">
</div>

<div class="status-container mx-5 flex-center-col align-c">
    {% if status_obj > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Waktu</th>
            </tr>
        </thead>
        <tbody>
            {% for i in status_data %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.status}}</td>
                <td>Posted on {{i.date}} at {{i.time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No status submitted yet.</p>
    {% endif %}
</div>
</div>

{% endblock %}