{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="mb-5 mx-5 py-2 flex-center-col align-c">
    <h1 class="text-big mb-4">Halo, apa kabar?</h1>
    <div class="flex-left mb-4">
        <div class="circle {% if status_obj > 0 %}green{% else %}red{% endif %} mr-2"></div>
        <p style="margin: 0;">{% if status_obj > 0 %} {{latest.status}} {% else %}No status yet.{% endif %}</p>
    </div>
    <div class="form-container">
        <form method="POST" action="{% url 'status' %}">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-border ml-3" type="submit" name="submit">Kirim</button>
        </form>
    </div>
</div>
<br>
<div class="feeds-scroll my-5 flex-center-col">
    <p class="disable-margin">Feeds</p>
    <svg class="icon16" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;">
<g>
	<path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
		c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
		c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
</g>
</svg>
</div>


<div class="status-container mx-5 flex-left">
    {% if status_obj > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Waktu</th>
            </tr>
        </thead>
        <tbody>
            {% for i in status_data %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.status}}</td>
                <td>Posted on {{i.date}} at {{i.time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No status submitted yet.</p>
    {% endif %}
</div>

{% endblock %}